<% layout('./layouts/boilerplate')%>
    <div class="row">
        <h1 class="text-center">Edit Campground</h1>
        <div class="col-md-6 offset-md-3 mb-4">
            <form action="/campground/<%=campground._id%>?_method=put" method="post" class="validated-form" novalidate  enctype="multipart/form-data">
            <div class="mb-3">
                <label for="title" class="form-label">Title</label>
                <input type="text" name="campground[title]" id="title" class="form-control" value="<%=campground.title%>" required>
            </div>
            <div class="mb-3">
                <label for="location" class="form-label">Location</label>
                <input type="text" name="campground[location]" id="location" class="form-control" value="<%=campground.location%>" required>
            </div>
            <div class="mb-3">
                <label for="image" class="form-label">Add Image</label>
                <input type="file" name="image" id="image" class="form-control" multiple>
            </div>
            <div class="mb-3">
                <label for="price" class="form-label">Price</label>
                <div class="input-group">
                    <span class="input-group-text" id="price-label">Rs.</span>
                    <input type="text" class="form-control" id="price" name="campground[price]" placeholder="0" aria-label="price" aria-describedby="price-label" value="<%=campground.price%>" required>
                  </div>
            </div>
            <div class="mb-3">
                <label for="description" class="form-label">Description Url</label>
                <textarea type="text" name="campground[description]" id="image" class="form-control" required><%=campground.description%></textarea>
            </div>
            <div class="mb-3">
                <% campground.image.forEach(function(img,i){%>
                    <img src="<%=img.thumbnail %>" class="img-thumbnail" alt="..">
                    <div class="form-check-inline">
                        <input type="checkbox" name="deleteImage[]" id="image-<%=i%>" value="<%=img.filename%>">
                    </div>
                    <label for="image-<%=i%>">Delete?</label>
               <% })%>
            </div>
            <div class="mb-3 d-grid gap-2">
                <button type="submit" class="btn btn-info">Update Campground</button>
            </div>
    
            <footer>
                <a href="/campground">Go to Main</a>
            </footer>
        </form>
        </div>
    </div>